<h1>Games</h1>
<ul>
  <% @games.each do |game| %>
    <li>
      <%= game.name %>
      <% if !current_user.favored?(game) %>
        <%= link_to "В избранное", favor_game_path(game)  %>
      <% end %>
    </li>

  <% end %>
</ul>
